= form_for @vine do |f|
  - if @vine.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vine.errors.count, "error")} prohibited this vine from being saved:"
      %ul
        - @vine.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
